/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* GENERAL */
body{
    font-family: "Edu TAS Beginner", serif !important;
}

/* HEADER */
header{
    background-image: url('../img/wall.png');
    height: 120px;
}

h1{
   font-size: 50px;
}

/* MAIN */
main{
    background-image: url('../img/cork.png');
    height: 100%;
}

img{
    width: 100%;
}
